# .NET
bin/
obj/
.vs/
*.pubxml

# User Specific
*.user
*.suo

# Dependency directories
packages/
[Nn]ode_modules/

# Angular
.angular/
dist/
.env

# Log files & Directories
ApplicationLogs/
logs/
*.log
*.txt
!LICENSE.txt
