# .NET
bin/
obj/
.vs/
*.pubxml

# User Specific
*.user
*.suo

# Dependency directories
packages/
[Nn]ode_modules/

# Angular
.angular/
dist/
.env

# Log files
# Build and Run Logs
*.log
*.txt
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build.out
msbuild.log
build_errors.txt
build_log.txt
err.txt
last_try.txt
backend_build_log.txt
!LICENSE.txt
.gemini/
!msbuild.log
