@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif; /* You might want to import a font */
  @apply bg-slate-50 text-slate-900 dark:bg-dark-bg dark:text-dark-text transition-colors duration-300;
}
